# Resnu Praktikum BD Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [ ]:
! pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 42.8 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 24.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://resnumukti:<Password>@prakbdw10.67seg.mongodb.net/?retryWrites=true&w=majority&appName=PrakBDW10')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}),
    InsertOne({'course': 'Law 201', 'enrollments': 35, 'department': 'Law'}),
    InsertOne({'course': 'Geology 101', 'enrollments': 35, 'department': 'Geology'}),
    InsertOne({'course': 'Anthropology 201', 'enrollments': 15, 'department': 'Anthropology'}),
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [ ]:
operations = [
    UpdateOne({'course': 'Math 101'}, {'$set': {'enrollment': 50}}),
    UpdateOne({'course': 'CS 102'}, {'$set': {'enrollment': 30}}),
    UpdateOne({'course': 'History 201'}, {'$set': {'enrollment': 40}})
]
courses_collection.bulk_write(operations)
print('Courses updated successfully.')

Courses updated successfully.

In [ ]:
operations = [
    DeleteOne({'course': 'Law 201'}),
    DeleteOne({'course': 'Geology 101'}),
    DeleteOne({'course': 'Anthropology 201'})
]
courses_collection.bulk_write(operations)
print('Courses deleted successfully.')

Courses deleted successfully.

In [ ]:
operations = [
    InsertOne({'course': 'Calculus 201', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'PA 101', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'Islam History 301', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Discrete 202', 'enrollments': 15, 'department': 'Mathematics'}),
    InsertOne({'course': 'Indonesia History 201', 'enrollments': 35, 'department': 'History'}),
    InsertOne({'course': 'Big Data 101', 'enrollments': 35, 'department': 'Computer Science'}),
    InsertOne({'course': 'Algebra 201', 'enrollments': 15, 'department': 'Mathematics'}),
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [ ]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('674fbb0ebbb2b5c20d0fb042'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment': 50}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb043'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment': 30}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb049'), 'course': 'Calculus 201', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04a'), 'course': 'PA 101', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04d'), 'course': 'Indonesia History 201', 'enrollments': 35, 'department': 'History'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04e'), 'course': 'Big Data 101', 'enrollments': 35, 'department': 'Computer Science'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('674fbb0ebbb2b5c20d0fb042'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment': 50}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb043'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment': 30}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb049'), 'course': 'Calculus 201', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04a'), 'course': 'PA 101', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04c'), 'course': 'Discrete 202', 'enrollments': 15, 'department': 'Mathematics'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04e'), 'course': 'Big Data 101', 'enrollments': 35, 'department': 'Computer Science'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04f'), 'course': 'Algebra 201', 'enrollments': 15, 'department': 'Mathematics'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [ ]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 28.333333333333332}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'History', 'average_enrollment': 25.0}
{'_id': 'Mathematics', 'average_enrollment': 22.5}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Computer Science', 'max_enrollment': 35}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'History', 'max_enrollment': 35}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [ ]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('674fbb0ebbb2b5c20d0fb042'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb043'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb044'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb045'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb049'), 'enrollments': 30, 'course_name': 'Calculus 201', 'department_name': 'Mathematics'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04a'), 'enrollments': 25, 'course_name': 'PA 101', 'department_name': 'Computer Science'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04b'), 'enrollments': 20, 'course_name': 'Islam History 301', 'department_name': 'History'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04c'), 'enrollments': 15, 'course_name': 'Discrete 202', 'department_name': 'Mathematics'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04d'), 'enrollments': 35, 'course_name': 'Indonesia History 201', 'department_name': 'History'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04e'), 'enrollments': 35, 'course_name': 'Big Data 101', 'department_name': 'Computer Science'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04f'), 'enrollments': 15, 'course_name': 'Algebra 201', 'department_name': 'Mathematics'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('674fbb0ebbb2b5c20d0fb042'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment': 50, 'enrollment_category': 'high'}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb043'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment': 30, 'enrollment_category': 'high'}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb044'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment': 40, 'enrollment_category': 'low'}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb045'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb049'), 'course': 'Calculus 201', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04a'), 'course': 'PA 101', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04b'), 'course': 'Islam History 301', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04c'), 'course': 'Discrete 202', 'enrollments': 15, 'department': 'Mathematics', 'enrollment_category': 'low'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04d'), 'course': 'Indonesia History 201', 'enrollments': 35, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04e'), 'course': 'Big Data 101', 'enrollments': 35, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04f'), 'course': 'Algebra 201', 'enrollments': 15, 'department': 'Mathematics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [ ]:
# HW 1
pipeline = [
    {'$group':{'_id':'$department','sum_courses':{'$sum':1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'sum_courses': 4}
{'_id': 'Physics', 'sum_courses': 1}
{'_id': 'Computer Science', 'sum_courses': 3}
{'_id': 'History', 'sum_courses': 3}

In [ ]:
# HW 2
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$course', 'total_enrollments': {'$sum': '$enrollments'}}}
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Big Data 101', 'total_enrollments': 35}

In [ ]:
# HW 3
db = client['university_db']
students_collection = db['students']

# List dokumen siswa yang ingin ditambahkan ke students_collection
students = [
    {"_id": 101, "name": "Knight", "enrolled_course": "CS 102", "major": "Computer Science"},
    {"_id": 102, "name": "Nightfall", "enrolled_course": "Math 101", "major": "Mathematics"},
    {"_id": 103, "name": "Whitemoon", "enrolled_course": "CS 102", "major": "Computer Science"},
    {"_id": 104, "name": "Eleven", "enrolled_course": "Math 101", "major": "Mathematics"},
    {"_id": 105, "name": "Konoha", "enrolled_course": "Islam History 301", "major": "History"}
]

# Creating a list of InsertOne operations
operations = [InsertOne(student) for student in students]

# Performing the bulk write operation

students_collection.bulk_write(operations)
print("Students inserted successfully.")

Students inserted successfully.

In [ ]:
pipeline = [
    {
        '$lookup': {
            'from': 'students',# Koleksi yang akan digabungkan
            'localField': 'course',# Field di koleksi courses
            'foreignField': 'enrolled_course',# Field di koleksi students
            'as': 'student_enrollments'# Nama field hasil join di koleksi courses
        }
    }
]

# Mengeksekusi pipeline
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('674fbb0ebbb2b5c20d0fb042'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment': 50, 'student_enrollments': [{'_id': 102, 'name': 'Nightfall', 'enrolled_course': 'Math 101', 'major': 'Mathematics'}, {'_id': 104, 'name': 'Eleven', 'enrolled_course': 'Math 101', 'major': 'Mathematics'}]}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb043'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment': 30, 'student_enrollments': [{'_id': 101, 'name': 'Knight', 'enrolled_course': 'CS 102', 'major': 'Computer Science'}, {'_id': 103, 'name': 'Whitemoon', 'enrolled_course': 'CS 102', 'major': 'Computer Science'}]}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb044'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment': 40, 'student_enrollments': []}
{'_id': ObjectId('674fbb0ebbb2b5c20d0fb045'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'student_enrollments': []}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb049'), 'course': 'Calculus 201', 'enrollments': 30, 'department': 'Mathematics', 'student_enrollments': []}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04a'), 'course': 'PA 101', 'enrollments': 25, 'department': 'Computer Science', 'student_enrollments': []}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04b'), 'course': 'Islam History 301', 'enrollments': 20, 'department': 'History', 'student_enrollments': [{'_id': 105, 'name': 'Konoha', 'enrolled_course': 'Islam History 301', 'major': 'History'}]}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04c'), 'course': 'Discrete 202', 'enrollments': 15, 'department': 'Mathematics', 'student_enrollments': []}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04d'), 'course': 'Indonesia History 201', 'enrollments': 35, 'department': 'History', 'student_enrollments': []}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04e'), 'course': 'Big Data 101', 'enrollments': 35, 'department': 'Computer Science', 'student_enrollments': []}
{'_id': ObjectId('674fbf18bbb2b5c20d0fb04f'), 'course': 'Algebra 201', 'enrollments': 15, 'department': 'Mathematics', 'student_enrollments': []}