# Resnu Mukti Ismail Hanif Praktikum BD Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 16.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 10.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [12]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://resnumukti:<password>@prakbdw10.67seg.mongodb.net/?retryWrites=true&w=majority&appName=PrakBDW10')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

employee_data = {
    'name': 'Alice', 'department': 'Finance', 'age': 29,'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Connected to MongoDB
Data inserted

In [14]:
# Contoh Insert Data
employees_data = [
    {'name': 'Gema', 'department': 'Marketing', 'age': 22,'salary': 5000},
    {'name': 'Meily', 'department': 'IT', 'age': 20,'salary': 6500},
    {'name': 'Atul', 'department': 'Marketing', 'age': 18,'salary': 7000},
    {'name': 'Zharifa', 'department': 'Finance', 'age': 19,'salary': 8000},
    {'name': 'Resnu', 'department': 'IT', 'age': 19,'salary': 6000}
]
collection.insert_many(employees_data)
print('Multiple data inserted')

Multiple data inserted

In [15]:
collection.update_one({'name': 'Resnu'}, {'$set': {'salary': 10000}})
print('Data updated')

collection.update_many({'department': 'Marketing'}, {'$inc': {'salary': 3000}})
print('Multiple data updated')

Data updated
Multiple data updated

In [16]:
# Menghapus data
collection.delete_one({'name': 'Alice'})
print('Data deleted')

Data deleted

In [17]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('674fae5cd306cca0440ca721'), 'name': 'Gema', 'department': 'Marketing', 'age': 22, 'salary': 8000}
{'_id': ObjectId('674fae5cd306cca0440ca722'), 'name': 'Meily', 'department': 'IT', 'age': 20, 'salary': 6500}
{'_id': ObjectId('674fae5cd306cca0440ca723'), 'name': 'Atul', 'department': 'Marketing', 'age': 18, 'salary': 10000}
{'_id': ObjectId('674fae5cd306cca0440ca724'), 'name': 'Zharifa', 'department': 'Finance', 'age': 19, 'salary': 8000}
{'_id': ObjectId('674faee8d306cca0440ca729'), 'name': 'Resnu', 'department': 'IT', 'age': 19, 'salary': 10000}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [18]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'average_salary': 8250.0}
{'_id': 'Marketing', 'average_salary': 9000.0}
{'_id': 'Finance', 'average_salary': 8000.0}

## 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

### Latihan 1

In [19]:
collection = db['Products']

products_data = [
    {'name': 'Xiaomi', 'category': 'Handphone', 'price': 8000},
    {'name': 'Infinix', 'category': 'Handphone', 'price': 3000},
    {'name': 'Legion', 'category': 'Laptop', 'price': 15000},
    {'name': 'Nitro', 'category': 'Laptop', 'price': 10000},
    {'name': 'Samsung', 'category': 'Tablet', 'price': 7000},
    {'name': 'iPad', 'category': 'Tablet', 'price': 9000},
    {'name': 'Redmi', 'category': 'Handphone', 'price': 5000},
    {'name': 'Alienware', 'category': 'Laptop', 'price': 17000},
    {'name': 'Iqoo', 'category': 'Handphone', 'price': 5000},
    {'name': 'Huawei', 'category': 'Tablet', 'price': 7000},
]
collection.insert_many(products_data)
print('Produk telah ditambahkan')

Produk telah ditambahkan

### Latihan 2

In [20]:
average_price = collection.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
])

average_price = list(average_price)[0]['average_price']
print(f'Harga rata-rata: {average_price}')

products_above_average = collection.find({'price': {'$gt': average_price}})
print("Harga produk di atas rata-rata:")
for product in products_above_average:
    print(product)

Harga rata-rata: 8600.0
Harga produk di atas rata-rata:
{'_id': ObjectId('674fb15ed306cca0440ca72c'), 'name': 'Legion', 'category': 'Laptop', 'price': 15000}
{'_id': ObjectId('674fb15ed306cca0440ca72d'), 'name': 'Nitro', 'category': 'Laptop', 'price': 10000}
{'_id': ObjectId('674fb15ed306cca0440ca72f'), 'name': 'iPad', 'category': 'Tablet', 'price': 9000}
{'_id': ObjectId('674fb15ed306cca0440ca731'), 'name': 'Alienware', 'category': 'Laptop', 'price': 17000}

In [21]:
category_count = collection.aggregate([
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
])

print("Total produk disetiap kategorinya:")
for category in category_count:
    print(f"{category['_id']}: {category['total_products']} produk")

Total produk disetiap kategorinya:
Handphone: 4 produk
Laptop: 3 produk
Tablet: 3 produk

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [25]:
collection = db['Karyawan']

employee_data = [
    {'name': 'Meily', 'department': 'Finance', 'age': 30,'salary': 5500},
    {'name': 'Resnu', 'department': 'IT', 'age': 29, 'salary': 6600},
    {'name': 'Gema', 'department': 'IT', 'age': 23, 'salary': 6000},
    {'name': 'Ipul', 'department': 'Marketing', 'age': 27, 'salary': 5500},
    {'name': 'Atul', 'department': 'Finance', 'age': 30, 'salary': 5200},
    {'name': 'Zharifa', 'department': 'IT', 'age': 24, 'salary': 6000},
    {'name': 'Manda', 'department': 'IT', 'age': 34,'salary': 5000},
    {'name': 'Ariel', 'department': 'Marketing', 'age': 25, 'salary': 4600},
    {'name': 'Ida', 'department': 'Finance', 'age': 27, 'salary': 5000},
    {'name': 'Adam', 'department': 'Marketing', 'age': 32, 'salary': 5300},
    {'name': 'Vania', 'department': 'Finance', 'age': 27, 'salary': 5100},
    {'name': 'Debi', 'department': 'IT', 'age': 30, 'salary': 5500},
    {'name': 'Hasan', 'department': 'IT', 'age': 21, 'salary': 6100}
]
collection.insert_many(employee_data)
print('Data inserted')

Data inserted

In [27]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('674fb3a8d306cca0440ca741'), 'name': 'Meily', 'department': 'Finance', 'age': 30, 'salary': 5500}
{'_id': ObjectId('674fb3a8d306cca0440ca742'), 'name': 'Resnu', 'department': 'IT', 'age': 29, 'salary': 6600}
{'_id': ObjectId('674fb3a8d306cca0440ca743'), 'name': 'Gema', 'department': 'IT', 'age': 23, 'salary': 6000}
{'_id': ObjectId('674fb3a8d306cca0440ca744'), 'name': 'Ipul', 'department': 'Marketing', 'age': 27, 'salary': 5500}
{'_id': ObjectId('674fb3a8d306cca0440ca745'), 'name': 'Atul', 'department': 'Finance', 'age': 30, 'salary': 5200}
{'_id': ObjectId('674fb3a8d306cca0440ca746'), 'name': 'Zharifa', 'department': 'IT', 'age': 24, 'salary': 6000}
{'_id': ObjectId('674fb3a8d306cca0440ca747'), 'name': 'Manda', 'department': 'IT', 'age': 34, 'salary': 5000}
{'_id': ObjectId('674fb3a8d306cca0440ca748'), 'name': 'Ariel', 'department': 'Marketing', 'age': 25, 'salary': 4600}
{'_id': ObjectId('674fb3a8d306cca0440ca749'), 'name': 'Ida', 'department': 'Finance', 'age': 27, 'salary': 5000}
{'_id': ObjectId('674fb3a8d306cca0440ca74a'), 'name': 'Adam', 'department': 'Marketing', 'age': 32, 'salary': 5300}
{'_id': ObjectId('674fb3a8d306cca0440ca74b'), 'name': 'Vania', 'department': 'Finance', 'age': 27, 'salary': 5100}
{'_id': ObjectId('674fb3a8d306cca0440ca74c'), 'name': 'Debi', 'department': 'IT', 'age': 30, 'salary': 5500}
{'_id': ObjectId('674fb3a8d306cca0440ca74d'), 'name': 'Hasan', 'department': 'IT', 'age': 21, 'salary': 6100}

In [28]:
top_5_employees_per_department = collection.aggregate([
    {'$sort': {'department': 1, 'salary': -1}},
    {'$group': {
        '_id': '$department',
        'top_employees': {'$push': {
            'name': '$name',
            'age': '$age',
            'salary': '$salary'
        }}
    }},
    {'$project': {
        'top_employees': {'$slice': ['$top_employees', 5]}
    }}
])

print("5 Karyawan dengan gaji tertinggi dalam setiap departemen:")
for department in top_5_employees_per_department:
    print(f"\nDepartemen: {department['_id']}")
    for employee in department['top_employees']:
        print(employee)

5 Karyawan dengan gaji tertinggi dalam setiap departemen:

Departemen: Finance
{'name': 'Meily', 'age': 30, 'salary': 5500}
{'name': 'Atul', 'age': 30, 'salary': 5200}
{'name': 'Vania', 'age': 27, 'salary': 5100}
{'name': 'Ida', 'age': 27, 'salary': 5000}

Departemen: IT
{'name': 'Resnu', 'age': 29, 'salary': 6600}
{'name': 'Hasan', 'age': 21, 'salary': 6100}
{'name': 'Gema', 'age': 23, 'salary': 6000}
{'name': 'Zharifa', 'age': 24, 'salary': 6000}
{'name': 'Debi', 'age': 30, 'salary': 5500}

Departemen: Marketing
{'name': 'Ipul', 'age': 27, 'salary': 5500}
{'name': 'Adam', 'age': 32, 'salary': 5300}
{'name': 'Ariel', 'age': 25, 'salary': 4600}

In [29]:
result = collection.delete_many({'age': {'$lt': 25}})
print(f"{result.deleted_count} karyawan di bawah usia 25 tahun telah dihapus.")

3 karyawan di bawah usia 25 tahun telah dihapus.

In [30]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('674fb3a8d306cca0440ca741'), 'name': 'Meily', 'department': 'Finance', 'age': 30, 'salary': 5500}
{'_id': ObjectId('674fb3a8d306cca0440ca742'), 'name': 'Resnu', 'department': 'IT', 'age': 29, 'salary': 6600}
{'_id': ObjectId('674fb3a8d306cca0440ca744'), 'name': 'Ipul', 'department': 'Marketing', 'age': 27, 'salary': 5500}
{'_id': ObjectId('674fb3a8d306cca0440ca745'), 'name': 'Atul', 'department': 'Finance', 'age': 30, 'salary': 5200}
{'_id': ObjectId('674fb3a8d306cca0440ca747'), 'name': 'Manda', 'department': 'IT', 'age': 34, 'salary': 5000}
{'_id': ObjectId('674fb3a8d306cca0440ca748'), 'name': 'Ariel', 'department': 'Marketing', 'age': 25, 'salary': 4600}
{'_id': ObjectId('674fb3a8d306cca0440ca749'), 'name': 'Ida', 'department': 'Finance', 'age': 27, 'salary': 5000}
{'_id': ObjectId('674fb3a8d306cca0440ca74a'), 'name': 'Adam', 'department': 'Marketing', 'age': 32, 'salary': 5300}
{'_id': ObjectId('674fb3a8d306cca0440ca74b'), 'name': 'Vania', 'department': 'Finance', 'age': 27, 'salary': 5100}
{'_id': ObjectId('674fb3a8d306cca0440ca74c'), 'name': 'Debi', 'department': 'IT', 'age': 30, 'salary': 5500}

In [31]:
total_salary_per_department = collection.aggregate([
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'}
    }}
])

print("Total gaji karyawan di setiap departemen:")
print("")
for dept in total_salary_per_department:
    print(f"Departemen {dept['_id']}")
    print(f"Total Gaji : {dept['total_salary']}")
    print("")

average_age = collection.aggregate([
    {'$group': {
        '_id': None,
        'average_age': {'$avg': '$age'}
    }}
])

average_age = list(average_age)[0]['average_age']
print(f"\nRata-rata umur karyawan: {average_age}")

Total gaji karyawan di setiap departemen:

Departemen IT
Total Gaji : 17100

Departemen Marketing
Total Gaji : 15400

Departemen Finance
Total Gaji : 20800


Rata-rata umur karyawan: 29.1

In [32]:
# Menghitung total gaji karyawan di setiap departemen
total_salary_per_department = collection.aggregate([
    {'$group': {
        '_id': '$department',  # Kelompokkan berdasarkan departemen
        'total_salary': {'$sum': '$salary'}  # Hitung total gaji di setiap departemen
    }}
])

print("Total gaji karyawan di setiap departemen:")
for dept in total_salary_per_department:
    print(f"Departemen: {dept['_id']}, Total Gaji: {dept['total_salary']}")

# Menghitung rata-rata umur karyawan secara keseluruhan
average_age = collection.aggregate([
    {'$group': {
        '_id': None,  # Mengelompokkan semua dokumen
        'average_age': {'$avg': '$age'}  # Menghitung rata-rata umur
    }}
])

# Menampilkan rata-rata umur
average_age = list(average_age)[0]['average_age']
print(f"\nRata-rata umur karyawan: {average_age}")

Total gaji karyawan di setiap departemen:
Departemen: Finance, Total Gaji: 20800
Departemen: Marketing, Total Gaji: 15400
Departemen: IT, Total Gaji: 17100

Rata-rata umur karyawan: 29.1